.home-content {
  display: flex;
}

.home-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 100%;
  padding-top: 40px;
  color: #fff;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-bottom {
  position: absolute;
    background: #000;
    width: 100vw;
    padding: 20px;
    padding-left: 80px;
    padding-bottom: 5px;
    float: left;
}

.footer-bottom a:hover {
  color: #27bcda;
}

.footer-bottom p {
  float: left;
   font-size: 14px;
   word-spacing: 2px;
   color: #cfd2d6;
}
.footer-bottom p a{
  font-size: 14px;
  color: #cfd2d6;
  text-decoration: none;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

.footer-menu{
  float: right;
  padding-right: 80px;
}

.footer-menu ul{
  display: flex;
}

.footer-menu ul li{
padding-right: 10px;
display: block;
}

.footer-menu ul li a{
  color: #cfd2d6;
  text-decoration: none;
  font-size: 14px;
}

.footer-menu ul li a:hover{
  color: #27bcda;
}
